.tweets__nav{
  position: fixed;
  top: 0;
  width: 43vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #E1E8ED;
  cursor: pointer;
  background-color: white;
  z-index: 99;
}
.user__avatar{
  height: 3rem !important ;
  width: 3rem !important;
}
.tweets__avatar:hover{
  background-color: white !important;
}
.tweets__article{
  margin-top: 7.5vh;
  border-bottom: 1px solid #E1E8ED;
  display: flex;
  /* justify-content: space-between; */
  padding-top: 15px;
}
.tweets__articleRight{
  width: 36vw;
}
.tweets__input{
  display: flex;
  flex-direction: column;
 justify-content: center;
}
.tweets__inputField{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 7px;
}
.tweet__whoCanReplyIcon{
  margin: 2px !important;
  padding: 2px !important;
}
.tweet__whoCanReplyIcon:hover{
  background-color: white !important;
}
.tweet__whoCanReplyText{
  color: #1DA1F2 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  padding: 5px;
  margin: 0;
}
.tweet__whoCanReplyText:hover{
  background-color: #1da0f217 !important;
  border-radius: 2rem;
  width: max-content;
}
.tweet__whoCanReplyText > .MuiSvgIcon-root{
  margin: 0 5px 0 0;
  height: 18px;
  width: 18px;
}
/* tweets icons */
.tweets_icons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid #E1E8ED;
}
.tweets_icons div .MuiSvgIcon-root{
  color: #1DA1F2 !important;
}
.btn__tweet{
  color: white !important;
  background-color: #1DA1F2 !important;
  border-radius: 2rem !important;
  text-transform: inherit !important;
}



