.app{
  max-width: 100vw;
  min-height: 100vh ;
  display: flex;
  justify-content: space-evenly;
}
/* left side app__menu */
.app__menu{
 min-height: 100vh;
 overflow-y: scroll;
 width: 20vw;
 border: 1px solid blue;
}
section::-webkit-scrollbar {
  display: none;
}
/* middle app__tweets section */
.app__tweets{
 min-height: 100vh;
 overflow-y: scroll;
 width: 43vw;
 border: 1px solid red;
}
.app__tweets::-webkit-scrollbar {
  display: none;
}
/* right side app__treading section */
.app__treading {
 min-height: 100vh;
 overflow-y: scroll;
 width: 30vw;
 border: 1px solid green;
}
